<template>
    <div class="flex justify-center mt-20">
        <div class="grid grid-cols-7 gap-4 w-full">
            <div class="col-start-2 col-span-5">
                <h1 class="text-center text-5xl font-bold">Audit Trail</h1>

                <table class="w-full mt-2">
                    <thead>
                        <tr>
                            <th class="text-center border-b-2">User</th>
                            <th class="text-center border-b-2">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="!trails.length">
                            <td class="text-center border" colspan="2">- NO DATA -</td>
                        </tr>
                        <tr v-for="trail in trails" :key="trail.id" class="even:bg-blue-100">
                            <td class="text-center border px-2 py-1">{{ trail.user.name }}</td>
                            <td class="text-left border px-2 py-1">{{ trail.description }}</td>
                        </tr>
                    </tbody>
                </table>

                <router-link to="/" tag="a" class="mt-2 float-left text-blue-400">Home</router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        this.getTrails();
    },
    data() {
        return {
            trails: []
        }
    },
    methods: {
        getTrails() {
            this.axios.get('/api/audit-trail').then(response => {
                this.trails = response.data.trails
            });
        }
    }
}
</script>

<style>

</style>