<template>
    <div class="flex justify-center mt-20">
        <div class="grid grid-cols-7 gap-4 w-full">
            <div class="col-start-3 col-span-3">
                <h1 class="text-center text-5xl font-bold">Update IP Address</h1>

                <p class="px-2 py-1 bg-green-500 text-white text-center" v-if="message">{{ message }}</p>
                <div class="container mx-auto mt-5">
                    <form action="#" @submit.prevent="submit()" class="border pt-5 pb-5">
                        <input type="text" name="ip" id="ip" class="mt-2 border px-2 py-1 block mx-auto" placeholder="IP Address..." v-model="ip" disabled>
                        <span class="text-red-800" v-if="errors.ip">{{ errors.ip.toString() }}</span>

                        <input type="text" name="label" id="label" class="mt-2 border px-2 py-1 block mx-auto" placeholder="Label..." v-model="label">
                        <span class="text-red-800" v-if="errors.label">{{ errors.label.toString() }}</span>

                        <div class="mt-3">
                            <button type="submit" class="border border-blue-400 px-3 py-1 hover:bg-blue-400 hover:text-white">Update</button>&nbsp;
                            <router-link to="/ip-addresses" tag="button" class="border border-red-500 px-3 py-1 hover:bg-red-500 hover:text-white">Back</router-link>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        this.getIPDetails();
    },
    data() {
        return {
            errors: {
                ip: '',
                label: ''
            },
            message: '',
            ip: '',
            label: ''
        }
    },
    methods: {
        getIPDetails() {
            this.axios.get('/api/ip-addresses/' + this.id).then(response => {
                this.ip = response.data.ip.ip;
                this.label = response.data.ip.label
            });
        },
        submit() {
            this.errors = {
                ip: '', label: ''
            }

            this.axios.patch('/api/ip-addresses/' + this.id, {
                label: this.label
            }).then(response => {
                if (response.data.success) {
                    this.message = response.data.message
                    this.form  = {
                        ip: '', label: ''
                    }
                }
            }).catch(err => {
                console.log(err.response.data.errors)
                this.errors = err.response.data.errors
            })
        }
    },
    props: ['id']
}
</script>

<style>

</style>