<template>
  <div class="hello mt-5">
    <div class="flex justify-center w-full">
      <img width="100px" alt="Vue logo" src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&name=IP">
    </div>
    
    <h1 class="text-5xl">IP Address Management Solution</h1>

    <div class="container mx-auto mt-5">
      <router-link to="/login" tag="div" class="border w-20 mx-auto border-blue-400 border-radius-2 px-5 py-2 cursor-pointer hover:bg-blue-400 hover:text-white" v-if="!isAuthenticated">Login</router-link>
      <div class="mx-auto" v-else>
          <router-link to="/ip-addresses" class="border w-60 mx-auto border-blue-400 border-radius-2 px-5 py-2 cursor-pointer hover:bg-blue-400 hover:text-white block">IP Addresses</router-link>
          <router-link to="/audit-trail" class="border w-60 mx-auto border-blue-400 border-radius-2 px-5 py-2 cursor-pointer hover:bg-blue-400 hover:text-white block mt-2">Audit Trail</router-link>
          <div @click="logout()" class="mt-2 border w-60 mx-auto border-red-400 border-radius-2 px-5 py-2 cursor-pointer hover:bg-red-400 hover:text-white">
            Logout
          </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    isAuthenticated() {
      return localStorage.getItem('token') !== null
    }
  },
  data() {
    return {
      errors: {
        email: '',
        password: ''
      },
      credentials: {
        email: '',
        password: ''
      }
    }
  },
  name: 'HelloWorld',
  props: {
    msg: String
  },
  methods: {
    logout() {
      this.axios.post('/api/logout').then(response => {
        if (response.data.success) {
          localStorage.removeItem('token');
          this.$router.push({ name: 'login', params: { msg: 'You have been logged out.' } })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
    .hello {
        margin-top: 30vh;
    }
</style>