<template>
    <div class="flex justify-center mt-20">
        <div class="grid grid-cols-7 gap-4 w-full">
            <div class="col-start-3 col-span-3">
                <h1 class="text-center text-5xl font-bold">IP Addresses</h1>

                <router-link to="/ip-addresses/create" class="border px-2 py-1 border-blue-400 hover:bg-blue-400 hover:text-white float-left mb-3">Add IP Address</router-link>

                <table class="w-full mt-2">
                    <thead>
                        <tr>
                            <th class="text-center border-b-2">IP Address</th>
                            <th class="text-center border-b-2">Label</th>
                            <th class="text-center border-b-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="!ips.length">
                            <td class="text-center border" colspan="3">- NO DATA -</td>
                        </tr>
                        <tr v-for="ip in ips" :key="ip.id">
                            <td class="text-center border px-2 py-1">{{ ip.ip }}</td>
                            <td class="text-center border px-2 py-1">{{ ip.label }}</td>
                            <td class="text-center border px-2 py-1">
                                <router-link :to="{ name: 'edit-ip-address', params: { id: ip.id, ip: ip.ip, label: ip.label }}" class="border border-yellow-400 hover:bg-yellow-400 hover:text-white px-3 py-1">Edit</router-link>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <router-link to="/" tag="a" class="mt-2 float-left text-blue-400">Home</router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        this.getIPs();
    },
    data() {
        return {
            ips: []
        }
    },
    methods: {
        getIPs() {
            this.axios.get('/api/ip-addresses').then(response => {
                this.ips = response.data.ips
            });
        }
    }
}
</script>

<style>

</style>