<template>
  <div class="hello mt-5">
    <h1 class="text-5xl">{{ msg }}</h1>

    <div class="container mx-auto mt-5">
      <form action="#" @submit.prevent="login()" class="border pt-5 pb-5">
        <h3 class="text-gray-800 font-bold text-xl uppercase">Login</h3>

        <p class="px-2 py-1 bg-green-500 text-white text-center mx-auto w-80" v-if="msg">{{ msg }}</p>

        <input type="email" name="email" id="email" class="mt-2 border px-2 py-1 block mx-auto" placeholder="Email Address..." v-model="credentials.email" autofocus>
        <span class="text-red-800" v-if="errors.email">{{ errors.email.toString() }}</span>

        <input type="password" name="password" id="password" class="mt-2 border px-2 py-1 block mx-auto" placeholder="Password..." v-model="credentials.password">
        <span class="text-red-800" v-if="errors.password">{{ errors.password.toString() }}</span>

        <div class="mt-3">
            <button type="submit" class="border border-blue-400 px-3 py-1 hover:bg-blue-400 hover:text-white">Login</button>&nbsp;
            <router-link to="/" tag="button" class="border border-red-500 px-3 py-1 hover:bg-red-500 hover:text-white">Cancel</router-link>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      errors: {
        email: '',
        password: ''
      },
      credentials: {
        email: '',
        password: ''
      }
    }
  },
  name: 'Login',
  props: {
    msg: String
  },
  beforeMount() {
    if (localStorage.getItem('token') != null)
      this.$router.push({ path: '/' })
  },
  methods: {
    login() {
      this.axios.post('/api/login', this.credentials).then(response => {
        if (response.data.success) {
          localStorage.setItem('token', response.data.token);

          this.$router.push({ path: '/' })
        }
      }).catch(err => {
        console.log(err.response.data.errors)
        this.errors = err.response.data.errors
      })
    }
  },
  props: ['msg']
}
</script>

<style lang="scss" scoped>
    .hello {
        margin-top: 30vh;
    }
</style>